{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Actualité {% endblock %}
       
{% block contenu %}
    <h1>Les Actualités des Utilisateurs</h1> 
    
    <form class="style-signin" action="index.php?page=actualite" method="post" enctype="application/x-www-form-urlencoded">
 
 <br/>

    <label for="inputTitre" class="sr-only">Titre:</label>
    <input type="text"  id="inputEmail" name="inputTitre" class="form-control" placeholder="Titre" required autofocus>

    <label for="inputContenu" class="sr-only">Contenu:</label>
    <input type="text"  id="inputPassword" name="inputContenu" class="form-control " placeholder="Contenu" required autofocus>

      <select class="form-control" for="inputContenu" name="inputUser">
  <option >Choix d'un utilisateur</option>
          {% for u in liste %}
 <option value="{{u.id}}">{{u.nom}} {{u.prenom}}</option>
  {% endfor %} 
 </select> 
 <br/>
 

          
<button class="btn btn-lg btn-success btn-block" type="submit" name="btAjouter">Ajouter</button>

          

</form>
    
{% endblock %} 
